body {
  text-align: center;
}

ol {
  list-style: none;
}

ol li:nth-child(even) {
  background: rgba(100,100,255,0.2);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
